body {
  font-family: Arial;
  padding: 20px;
  background: #f4f6f4;
}

h1, h3 {
  color: #2e7d32;
}

input {
  padding: 5px;
  margin: 3px;
}

button {
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
}
